<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<meta name="keywords"
      content="Java developer, JSP, Servlets, Spring, Spring boot, MVC, Hibernate, REST, passionate, self driven, frontend, backend, job seeker, software developer, suveen, suveen kumar, vundavalli, suveen kumar vundavalli, portfolio, best portfolio, angularjs, angular, html, css, javascript, jquery, bootstrap, mysql"/>
<meta name="description"
      content="Hi, I am Suveen Kumar Vundavalli. An innovative and a committed graduate with passion to have a growth oriented and challenging career in domain of Software & Web Development to tone my experience and to utilize my programming skills through continuous learning and exploring new technologies."/>
<meta name="google-site-verification" content="pt_Oxj1j8I_eYcxTBgwRXFtuDVG2FQl4VIJUu2v21F0" />

{% load static %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static "/css/rotating-card.css" %}">
<link rel="stylesheet" href="{% static "/css/blog-card.css" %}">
{% if BG_STYLE == "plain" %}
    <link rel="stylesheet" href="{% static "/css/newDesignPlain.css" %}">
{% elif BG_STYLE == "blur" %}
    <link rel="stylesheet" href="{% static "/css/newDesignParallaxBlur.css" %}">
{% elif BG_STYLE == "pics" %}
    <link rel="stylesheet" href="{% static "/css/newDesignParallaxImages.css" %}">
{% else %}
    <link rel="stylesheet" href="{% static "/css/newDesign.css" %}">
{% endif %}
<link rel="stylesheet" href="{% static "/css/formValidation.min.css" %}">
<link rel="stylesheet" href="{% static "/css/pace-theme-center-circle.css" %}">
