<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="{% if navbar == 'profile' %}active{% endif %}"><a href="#">Profile</a></li>
                <li class="{% if navbar == 'experience' %}active{% endif %}"><a href="#">Experience</a></li>
                <li class="{% if navbar == 'education' %}active{% endif %}"><a href="#">Education</a></li>
                <li class="{% if navbar == 'skills' %}active{% endif %}"><a href="#">Skills</a></li>
                <li class="{% if navbar == 'training' %}active{% endif %}"><a href="#">Training</a></li>
                <li class="{% if navbar == 'internships' %}active{% endif %}"><a href="#">Internships</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle {% if navbar == 'voluntary' or navbar == 'academic' %}active{% endif %}" data-toggle="dropdown" href="#">Projects<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="{% if navbar == 'voluntary' %}active{% endif %}"><a href="#">Voluntary</a></li>
                        <li class="{% if navbar == 'academic' %}active{% endif %}"><a href="#">Academic</a></li>
                    </ul>
                </li>
                <li class="{% if navbar == 'publications' %}active{% endif %}"><a href="#">Publications</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="{% if navbar == 'contact' %}active{% endif %}"><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-log-in"></span> Contact Me</a></li>
            </ul>
        </div>
    </div>
</nav>