{% extends "base.html" %}
{% load static %}
{% block title %} Home | {{ block.super }} {% endblock title %}

{% block content %}
    <div class="text-white jumbotron">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="h1 cg-font">Education</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container details-body white-bg">
        <div class="row">
            <div class="col-sm-4 vertical-img-center col-sm-push-8"><img src="{% static "images/education/BTH.png" %}"
                                                                         alt="OPR_logo" class="img-responsive"/></div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="h1 text-nav"><strong>Master of Science</strong></div>
                <div class="h3">Blekinge Institute of Technology</div>
                <div class="h4 text-nav"><strong>01/2015 - 12/2016</strong></div>
                <div class="h4 text-nav">Specialization: Applied Signal Processing</div>
                <ul>
                    <li>
                        Digital Signal Processing, Adaptive Signal Processing, Digital Transmission and Radio
                        Communication, Sound and Vibration Analysis, Multi-Dimensional Signal Processing, Neural
                        Networks, Applied Adaptive Signal Processing, Research Methodology
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 vertical-img-center col-sm-push-8"><img src="{% static "images/education/JNTUK.png" %}"
                                                                         alt="OPR_logo" class="img-responsive"/></div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="h1 text-nav"><strong>Bachelor of Technology</strong></div>
                <div class="h3">JNTUCEK</div>
                <div class="h4 text-nav"><strong>06/2011 – 12/2014</strong></div>
                <div class="h4 text-nav">Specialization: Electronics & Communication</div>
                <ul>
                    <li>
                        C, Signals and Systems, Electronic Devices and Circuits, Network Analysis, Electronic Circuit
                        Analysis, Electromagnetic Waves and Transmission Lines, Analog Communications, Digital
                        Communications, Linear & Digital IC Applications, Microprocessors and Microcontrollers, Computer
                        Networks, Digital Signal Processing, Cellular & Mobile Communications.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}