{% extends "base.html" %}
{% block title %} Home | {{ block.super }} {% endblock title %}

{% block content %}
    <div class="text-white jumbotron">
        <div class="container">
            <div class="row">
                <div class="h1 cg-font">LOOKING FOR A WEB DEVELOPER?</div>
                <div class="h2 cg-font">HEJ, I'M A WEB DEVELOPER & PROGRAMMER LIVING IN SWEDEN. I MAKE WEB APPLICATIONS
                    USUALLY IN SPRING AND DJANGO
                </div>
            </div>
        </div>
    </div>
    <div class="container details-body">
        <p>
            I am an <strong>innovative</strong> and a <strong>committed</strong> graduate with <strong>passion</strong>
            to have a <strong>growth oriented</strong> and <strong>challenging career</strong> in the domain of <strong>Software/Web
            Development</strong> to tone my experience and to utilize my <strong>programming</strong> skills through
            continuous learning and exploring new technologies.
        </p>
        <br>
        <p>
            I primarily use <strong>Java EE</strong> and <strong>Django</strong>, but picking up a new framework or
            language isn't a problem. I have extensive programming experience and I'm comfortable developing on the
            frontend or the backend as well as setting up or managing the infrastructure.
        </p>
        <br>
        <p>
            <strong>Backend Development</strong> - My bread and butter is Spring and it's associated stack: Spring boot,
            Spring MVC, Spring Web, Hibernate, Tomcat, JUnit. Maven. Django and it's associated stack: Postgres,
            UWSGI/Gunicorn & Nginx.
        </p>
        <br>
        <p>
            <strong>Frontend Development</strong> - I work primarily with HTML, CSS, JavaScript, CSS and JavaScript
            Frameworks namely jQuery and BootStrap.
        </p>
    </div>


{% endblock content %}