{% extends "base.html" %}
{% load static %}
{% block title %} Home | {{ block.super }} {% endblock title %}

{% block content %}
    <div class="text-white jumbotron">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="h1 cg-font">Internships</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container details-body white-bg">
        <div class="row">
            <div class="col-sm-4 vertical-img-center col-sm-push-8"><img
                    src="{% static "images/internships/vizag-steel-logo.jpg" %}" alt="OPR_logo" class="img-responsive"/>
            </div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="h2 text-nav"><strong>Telecommunication Networking</strong></div>
                <div class="h3">Rashtriya Ispath Nigam</div>
                <div class="h4 text-nav"><strong>05/2014 – 07/2014</strong></div>
                <div class="h4 text-nav">Role: Testing and Troubleshooting</div>
                <ul>
                    <li>
                        During the internship, I was trained on Telecommunications <strong>troubleshooting</strong>,
                        <strong>telecommunication systems</strong>, <strong>usability testing</strong>, <strong>subscriber
                        to subscriber testing</strong>. Training also includes <strong>reporting</strong> identified
                        <strong>bugs</strong> to project lead.
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 vertical-img-center col-sm-push-8"><img src="{% static "images/internships/nrsc-logo.png" %}"
                                                                         alt="OPR_logo" class="img-responsive"/></div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="h2 text-nav"><strong>Programming Designer</strong></div>
                <div class="h3">NSRC / ISRO</div>
                <div class="h4 text-nav"><strong>02/2014 – 05/2014</strong></div>
                <div class="h4 text-nav">Role: Client Server Communication</div>
                <ul>
                    <li>
                        <strong>Socketio</strong> is used for establishing communication between client and server over
                        <strong>TCP/IP</strong> network.
                    </li>
                    <li>
                        <strong>Pycrypto</strong> for providing AES Encryption and the module
                        <strong>progressbar</strong> for providing visual effects.
                    </li>

                </ul>
            </div>
        </div>
    </div>
{% endblock content %}