{% extends "base.html" %}
{% load static %}
{% block title %} Home | {{ block.super }} {% endblock title %}

{% block content %}
    <div class="text-white jumbotron">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="h1 cg-font">Training</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container details-body white-bg">
        <div class="row">
            <div class="col-sm-4 col-sm-push-8"><img src="{% static "images/training/talentsprint.png" %}" alt="TS_logo"
                                                     class="img-responsive"/></div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="h1 text-nav"><strong>Full Stack Developer Java & AI</strong></div>
                <div class="h3">TalentSprint</div>
                <div class="h4 text-nav"><strong>10/2017 – 12/2017</strong></div>
                <div class="h4 text-nav">Course: Full Stack Java</div>
                <ul>
                    <li>The training includes frontend technologies including <strong>HTML</strong>,
                        <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>jQuery</strong>,
                        <strong>Bootstrap</strong> and <strong>AngularJS</strong>.
                    </li>
                    <li>Backend Technologies including <strong>Java</strong> with <strong>Spring MVC</strong>, <strong>ORM</strong>
                        and <strong>SQL</strong> dealing with databases including <strong>H2</strong>,
                        <strong>MySQL</strong>.
                    </li>
                    <li>Introductory concepts on <strong>AI</strong> & <strong>ML</strong> like <strong>KNN</strong> and
                        <strong>SVM</strong> in <strong>Python</strong>.
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4"><img src="{% static "images/training/oracle.png" %}" alt="oracle_logo"
                                       class="img-responsive"/></div>
            <div class="col-sm-8">
                <div class="h1 text-nav"><strong>Oracle Workforce Development</strong></div>
                <div class="h3">Oracle Certified</div>
                <div class="h4 text-nav"><strong>03/2016 – 06/2016</strong></div>
                <div class="h4 text-nav">Course: Java Programming</div>
                <ul>
                    <li>I have completed the <strong>Programming in Java</strong> as part of Oracle’s workforce
                        development program.
                    </li>
                    <li>The concepts in this program includes <strong>OOPS</strong>, <strong>Exception Handling</strong>,
                        <strong>Collections</strong>, <strong>Multi-Threading</strong>.
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4 col-sm-push-8"><img src="{% static "images/training/NIIT.png" %}"
                                                     alt="NIIT_logo" class="img-responsive"/></div>
            <div class="col-sm-8 col-sm-pull-4">
                <div class="h1 text-nav"><strong>OOP using C++</strong></div>
                <div class="h3">NIIT Talent Development Corp.</div>
                <div class="h4 text-nav"><strong>03/2016 – 05/2016</strong></div>
                <div class="h4 text-nav">Course: Object Oriented Programming</div>
                <ul>
                    <li>I have completed the <strong>Object Oriented Programming</strong> using <strong>C++</strong>
                        which is equivalent to 4 credit course in US.
                    </li>
                    <li>
                        I was involved in learning Object Oriented Programming concepts like
                        <strong>Abstraction</strong>, <strong>Encapsulation</strong>, <strong>Inheritance</strong> and
                        <strong>Polymorphism</strong>.
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}