<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static '/favicon.ico' %}">
    <title>{% block title %} Suveen Kumar Vundavalli{% endblock title %}</title>
    {% include "snippets/css.html" %}
</head>
<body>
{% include "snippets/nav.html" %}
<div class="container">
    {% block content %}
    {% endblock content %}
</div>
{% include "snippets/footer.html" %}
{% include "snippets/js.html" %}
</body>
</html>
